@import "styles/index";

.root {
    position: relative;
    top: -192px;
}

.bg {
    position: relative !important;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 3%;
    transform: skewY(10deg);
    padding: 0 45px;
    z-index: 2;

    @include mq($SmPhoneWidth + 1, max) {
        top: 3%;
    }
}

.top {
    font-family: 'Denistina';
    font-size: 23.48px;
    font-weight: 400;
    line-height: 12.45px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #E9E8DD;
}

.bottom {
    font-size: 20.95px;
    font-weight: 400;
    line-height: 28.08px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #E9E8DD;
    text-decoration: underline;
    text-decoration-color: #F0B900;
    right: -70px;
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    @include list(15px, false);
    position: absolute;
    top: 160px;
    z-index: 1;

    @include mq($SmPhoneWidth + 1, max) {
        top: 120px;
    }
}

.vase {
    height: 291px !important;
    width: auto !important;
    left: auto !important;
    z-index: 1;
    top: 90px !important;
}