@import "styles/index";

.root {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    height: 454px;
    justify-content: center;

    @include mq($SmDesktopWidth + 1, max) {
        height: 100vh;
    }
}

.content {
    display: flex;
    flex-direction: column;
    @include list(30px, false);
    width: 813px;

    @include mq($LDesktopWidth + 1, max) {
        width: 624px;
    }

    @include mq($SmDesktopWidth + 1, max) {
        width: 536px;
    }

    @include mq($TabletWidth + 1, max) {
        width: 100%;
    }
}

.text {
    font-size: 18px;
    color: $white;
}