@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -7px;
    z-index: 1;
    width: 100%;
    padding-top: 200px;

    @include mq($LDesktopWidth, max) {
        padding-top: 400px;
    }
}

.top {
    background-size: cover;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include list(100px, true);
    height: 574px;

    @include mq($LDesktopWidth, max) {
        height: 387px;
    }

    @include mq($SmDesktopWidth, max) {
        padding-right: 0;
    }
}

.bg2 {
    position: relative !important;
    height: 248px !important;

    @include mq($LDesktopWidth, max) {
        height: 194px !important;
    }

    @include mq($SmDesktopWidth, max) {
        height: 151px;
    }
}

.contacts {
    padding: 30px;
    background-color: #F3EADB;
    display: flex;
    flex-direction: column;
    @include list(35px, false);
    color: #333333;
    font-size: 14px;
    z-index: 1;
    position: absolute;
    right: 100px;
    min-width: 422px;

    @include mq($SmDesktopWidth, max) {
        position: absolute;
        right: 0;
    }
}

.address {
    width: 70%;
}

.vector {
    left: 15%;
    position: absolute;

    @include mq(850px + 1, min) {
        display: none;
    }

    @include mq($TabletWidth, max) {
        display: none;
    }
}