@import "styles/index";

.root {
    height: 575px;
    position: relative;
    z-index: 1;
    background: url('../../public/img/bg.png') no-repeat;
    background-size: cover;
    overflow-x: hidden;

    @include mq($SmPhoneWidth + 1, max) {
        background-size: contain;
    }


}

.desktop {
    height: 100vh;

    @include mq($SmDesktopWidth + 1, max) {
        height: 1100px;
    }

    .text {
        top: 70px;

        @include mq($LDesktopWidth + 1, min) {
            top: 100px;
        }

        @include mq($VLDesktopWidth, min) {
            top: 140px;
        }
    }
}

.text {
    padding-left: 30px;
    position: relative;
}

.logo {
    position: absolute;
    top: 455px;
    right: 25px;

    @include mq($SmPhoneWidth + 1, max) {
        top: 365px;
    }
}

.content {
    display: flex;
    position: absolute;
    padding: 40px;
    max-width: 1011px;
    bottom: 0;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    @include list(30px, false);
    width: 100%;
}

.top {
    color: #fff;
    line-height: 20px;

    span {
        color: #FFC3A0;
    }
}

.section {
    display: flex;
    justify-content: space-between;

    .text {
        color: #f2e9db;
        top: 0;
        padding-left: 0;
    }
}