@import "styles/index";

.root {
    position: relative;
}

.bg {
    position: relative !important;
    z-index: 1;
}

.wrapper {
    position: relative;
    top: -45px;
}

.content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    z-index: 1;
}