@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.top {
    background: url('../../public/img/footer-desktop-bg.png') no-repeat;
    background-size: cover;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include list(100px, true);

    @include mq($TabletWidth, max) {
        @include list(50px, true);
    }
}

.bg2 {
    height: auto !important;
    position: relative !important;
}

.house {
    img {
        width: auto !important;
        position: relative !important;
    }

    @include mq($TabletWidth, max) {
        display: none;
    }
}

.contacts {
    padding: 30px;
    background-color: #F3EADB;
    display: flex;
    flex-direction: column;
    @include list(35px, false);
    color: #333333;
    font-size: 14px;
    z-index: 1;
    position: relative;
    min-width: 422px;
}

.address {
    width: 70%;
}

.vector {
    left: 15%;
    position: absolute;

    @include mq(850px + 1, min) {
        display: none;
    }

    @include mq($TabletWidth, max) {
        display: none;
    }
}