@import "styles/index";

.root {
    padding: 100px 40px;
    background-color: $main;
    display: flex;
    flex-direction: column;
    @include list(30px, false);
}

.item {
    display: flex;
    align-items: center;
    @include list(30px, true);
}

.text {
    font-size: 18px;
    color: #000;
}